@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: Roboto, serif;
  line-height: 1.6em;
}

/*==accordion==========================================================*/

.accordion {
  width: 100%;
  margin: 10px auto 50px;
  max-width: 1024px;
  box-sizing: border-box;
}

.accordion__content {
  width: inherit;
  box-sizing: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.accordion__content_active .accordion__body {
  display: block;
}

.accordion__head {
  padding: 10px;
  width: inherit;
  cursor: pointer;
  box-sizing: inherit;
}

.accordion__body {
  display: none;
  padding: 10px;
  width: inherit;
  box-sizing: inherit;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/*==animation-box==========================================================*/

.animation-box {
  width: 100%;
  margin: 10px auto 50px;
  max-width: 1024px;
  box-sizing: border-box;
}

.animation-box__button {
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  background-color: rgba(0, 0, 0, .8);
}

.animation-box__box {
  color: white;
  width: 100px;
  height: 100px;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  transition: all 1s linear;
  background:  rgba(0, 0, 0, .8);
}
